In [2]:
import pandas as pd
import datetime

In [3]:
### Create The Data

data_base = datetime.datetime.today()
data_date_list = [data_base - datetime.timedelta(days=x) for x in range(0, 20)]
data = pd.DataFrame(data_date_list)
data.columns = ['day']
data

                          day
0  2021-05-25 00:36:53.656881
1  2021-05-24 00:36:53.656881
2  2021-05-23 00:36:53.656881
3  2021-05-22 00:36:53.656881
4  2021-05-21 00:36:53.656881
5  2021-05-20 00:36:53.656881
6  2021-05-19 00:36:53.656881
7  2021-05-18 00:36:53.656881
8  2021-05-17 00:36:53.656881
9  2021-05-16 00:36:53.656881
10 2021-05-15 00:36:53.656881
11 2021-05-14 00:36:53.656881
12 2021-05-13 00:36:53.656881
13 2021-05-12 00:36:53.656881
14 2021-05-11 00:36:53.656881
15 2021-05-10 00:36:53.656881
16 2021-05-09 00:36:53.656881
17 2021-05-08 00:36:53.656881
18 2021-05-07 00:36:53.656881
19 2021-05-06 00:36:53.656881

In [5]:
data['day_of_week'] = data['day'].dt.day_name()
data.head()

                         day day_of_week
0 2021-05-25 00:36:53.656881     Tuesday
1 2021-05-24 00:36:53.656881      Monday
2 2021-05-23 00:36:53.656881      Sunday
3 2021-05-22 00:36:53.656881    Saturday
4 2021-05-21 00:36:53.656881      Friday

In [6]:
### Simple_Ordinal_Encoding

weekday_label = {
                'Monday':1,
               'Tuesday':2,
               'Wednesday':3,
               'Thursday':4,
               'Friday':5,
               'Saturday':6,
               'Sunday':7

}

data['encoded_data'] = data.day_of_week.map(weekday_label)
data.head(20)

                          day day_of_week  encoded_data
0  2021-05-25 00:36:53.656881     Tuesday             2
1  2021-05-24 00:36:53.656881      Monday             1
2  2021-05-23 00:36:53.656881      Sunday             7
3  2021-05-22 00:36:53.656881    Saturday             6
4  2021-05-21 00:36:53.656881      Friday             5
5  2021-05-20 00:36:53.656881    Thursday             4
6  2021-05-19 00:36:53.656881   Wednesday             3
7  2021-05-18 00:36:53.656881     Tuesday             2
8  2021-05-17 00:36:53.656881      Monday             1
9  2021-05-16 00:36:53.656881      Sunday             7
10 2021-05-15 00:36:53.656881    Saturday             6
11 2021-05-14 00:36:53.656881      Friday             5
12 2021-05-13 00:36:53.656881    Thursday             4
13 2021-05-12 00:36:53.656881   Wednesday             3
14 2021-05-11 00:36:53.656881     Tuesday             2
15 2021-05-10 00:36:53.656881      Monday             1
16 2021-05-09 00:36:53.656881      Sunday             7
17 2021-05-08 00:36:53.656881    Saturday             6
18 2021-05-07 00:36:53.656881      Friday             5
19 2021-05-06 00:36:53.656881    Thursday             4